/* Color palette */
:root {
  --main-color: #531b24;
  --brown-light: #c5b8a2;
  --beige-light: #e6d9c3;
  --secundary-redwine: #6a2931;
}
/*Base styles */
body {
  font-family: 'Alegreya', serif;
  font-size: 16px;
 
}
 
h1{
  font-family: 'Pacifico', cursive;
}
  
h2, h3{
  font-family: 'Merriweather Sans', sans-serif;
}
.container{
  background: var(--main-color);
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.header div.menu ul{
  margin: 0;
}
 
.header div.menu li{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin-left: 60px;
}
.header div.menu a{
  
  text-decoration: none;
  color: var(--beige-light);
  padding: 3px 6px;
}
.header div.menu a:hover{

  border: none;
  background-color: var(--brown-light);
  color: #fff;
  border-radius: 20px;
  min-width: 130px;
  padding: 3px 6spx;
}
.header div.right-side{
  grid-column: 10 / 13;
}
 
.header{
  padding: 15px 10px;
}
.logo{
  font-family: 'Pacifico', cursive;
}
.right-side ul{
  margin: 0;
}
.right-side li{
  
  list-style: none;
  display: inline-block;
  text-align: right;
  margin: 0 5px;
}
.right-side a{

  color: #333;
}
.right-side li:hover{

  color: red;
  cursor: pointer;
}
.hero {
  height: 80vh;
  background-color: #444;
  background-image: url(https://static.pexels.com/photos/239520/pexels-photo-239520.jpeg);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  text-align: center;
  padding: 0 20px;
  color: #f1f2ed;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center; 
}

.hero .wrapper{
  grid-column: 3 / 11;
}
.hero h1 {
  
  font-size: 8rem;
  margin: 0;
}
  
.hero h2{
  
  font-size: 1.225rem;
  margin: 0;
}
.hero p{
  
  max-width: 350px;
  margin: 0 auto;
}.section-a {
  text-align: center;
  padding: 70px 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
}

.section-a-wrapper {
  grid-column: 3 / 11;
}

.section-b {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 40px 0;
}

.section-b div {
  max-width: 200px;
  text-align: center;
  padding: 20px;
}

.section-b img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.section-c {
  background-color: #464646;
  background-image: url("https://static.pexels.com/photos/7354/startup-photos.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  height: 80vh;
  color: #f1f2ed;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
}

.section-c .wrapper {
  grid-column: 3 / 11;
}

.section-c h2 {
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
}

.tel-number {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 3rem;
}

.section-d {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 10px;
}

.section-d .btn {
  grid-column: 2 / 3;
}

.section-d .title {
  grid-column: 1 / 4;
}

.amenities {
  width: 200px;
  background-color: #f0f0f0;
  margin-top: 40px;
  padding: 0 10px;
}

.ico {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
  background-color: #f3304f;
  color: #fff;
  position: relative;
  top: -30px;
  left: 74px;
}

.ico i {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
}

.section-e {
  height: 60vh;
  background-color: #f3304f;
  background-image: url("https://static.pexels.com/photos/168442/pexels-photo-168442.jpeg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  color: #f1f2ed;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
}

.section-e .wrapper {
  grid-column: 3 / 11;
}

.section-f {
  background-color: #333;
  background-image: url("https://static.pexels.com/photos/697057/pexels-photo-697057.jpeg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  color: #f1f2ed;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.section-f h2 {
  text-align: center;
}

.section-f .wrapper {
  grid-column: 3 / 11;
}

.section-f input, textarea {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #f1f2ed;
}

.section-f .form-group {
  display: flex;
  margin-bottom: 10px;
}

.section-f .btn {
  text-align: center;
}

.form-group input, textarea {
  margin-right: 10px;
}

.form-group span {
  border-bottom: 1px solid;
}

.form-group input[type="text"], input[type="email"], input[type="tel"] {
  color: #fff; /* Assuming $text-white translates to #fff */
  padding: 0 5px;
}

.form-group textarea {
  color: #fff; /* Assuming $text-white translates to #fff */
  height: 8rem;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  min-width: 30px;
  min-height: 30px;
  background-color: #f3304f;
  border-radius: 50%;
  list-style: none;
  display: inline-block;
}

.footer li:hover {
  background-color: #fff;
  box-shadow: 0 4px 2px gray;
}

/* .footer div a {
  color: #fff;
  text-decoration: none;
  display: flex;
  padding-top: 10px;
  justify-content: center;
} */

.footer div a:hover {
  color: #f3304f;
}

/* social media icons */

.footer i{
  size: 35px;
  color: #000;
  display: flex;
  padding-top: 5px;
  justify-content: space-around;
  align-items: center;
}

.btn-rounded {
  display: inline-block;
  min-width: 30px;
  min-height: 24px;
  background-color: #6d232f;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
}

.btn-rounded:hover {
  background-color: #fff;
  box-shadow: 0 4px 2px #666;
}

button {
  border: none;
  background-color: #f3304f;
  color: #fff;
  border-radius: 20px;
  min-width: 130px;
  padding: 8px 4px;
  margin: 10px 5px;
}

button:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 2px #666;
}

@media (max-width: 799px) {
  .header, .hero, 
  .section-a, .section-b, 
  .section-c, .section-d, 
  .section-e, .section-f, .footer {
    display: flex;
    flex-direction: column;
  }
  .header .logo {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .header .menu ul, .right-side ul {
    padding: 0;
  }
  .header .menu ul li, .right-side ul li {
    display: block;
    margin: 0 5px 16px 0;
    padding: 0;
  }
  .hero {
    height: 80vh;
    justify-content: center;
  }
  .hero h1 {
    font-size: 5rem;
  }
  .section-b {
    align-items: center;
  }
  .section-c {
    height: 90vh;
    align-items: center;
    padding: 10px;
  }
  .section-d {
    align-items: center;
  }
  .section-e {
    height: 90vh;
    justify-content: center;
    align-items: center;
  }
  .section-f .form-group {
    height: auto;
    padding: 10px;
  }
  .section-f .form-group {
    display: block;
  }
  .section-f .btn {
    text-align: center;
  }
  .form-group input {
    display: block;
    margin-bottom: 5px;
  }
  .form-group span {
    border-bottom: none;
  }
}
